@charset "utf-8";

body {
    font-family: 'Times New Roman', Times, serif; /* Setting the font */
    background: #f5f5f5; /* Background color */
    min-width: 320px; /* Minimum width to ensure proper display */
    color: #333; /* Text color */
}

/* Header styles */
header {
    padding-left: 25px; /* Adding padding to the left of the header */
}

/* Main content styles */
main {
    padding-left: 25px; /* Adding padding to the left of the main content */
}

/* Footer styles */
footer {
    padding-left: 25px; /* Adding padding to the left of the footer */
}

/* Heading 1 styles */
h1 {
    font-size: small; /* Setting font size */
    color: orange; /* Setting text color */
}

/* Heading 2 styles */
h2 {
    font-size: medium; /* Setting font size */
    margin-top: 5; /* Adding top margin */
}

/* Article styles */
article {
    max-width: 600px; /* Setting maximum width for the article */
    
}

/* Styling for both h2 and p elements inside article */
article h2,
article p {
    margin-top: 5px; /* Adding top margin */
    margin-bottom: 5px; /* Adding bottom margin */
}

/* Styling for strong elements inside p elements */
article p strong {
    color: orange; /* Setting text color */
}

/* Styling for the first paragraph */
article p.first-paragraph {
    max-width: 100%; /* Setting maximum width */
    text-align: center; /* Centering the text */
    margin-top: 0; /* Removing top margin */
    margin-bottom: 10px; /* Adding bottom margin */
    padding-bottom: 10px; /* Adding padding at the bottom */
}

/* Styling for the special h2 with class 'well-travelled' */
article h2.well-travelled {
    font-weight: bold; /* Setting font weight */
    font-size: 3em; /* Setting font size */
    margin-bottom: 10px; /* Adding bottom margin */
    text-align: center; /* Centering the text */
}

/* Image */
img {
    max-width: 100%; /* Ensures the image doesn't exceed its parent container */
    height: auto; /* Maintains aspect ratio */
}