body{
    font-family: 'Times New Roman', Times, serif;
    background: #f5f5f5;
    min-width: 320px;
    color: #333;
}

h1 {
    font-size: small;
    color: orange;
}

article {
    max-width: 600px;
}

article p.first-paragraph {
    max-width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

article p strong {
    color: orange;
}

article h2.well-travelled {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 10px;
}

